.card__details {
  width: 100%;
  padding: 10px;
  text-align: left; }
  .card__details--review {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .card__details--review-stars {
      margin-right: auto;
      margin-bottom: 10px; }
      .card__details--review-stars svg {
        vertical-align: top !important; }
    .card__details--review-members {
      display: flex; }
      .card__details--review-members i {
        font-size: 11px;
        color: #808ba5;
        margin-right: 5px; }
      .card__details--review-members span {
        font-weight: 500;
        color: #808ba5;
        margin-right: 5px; }
    .card__details--review-comments {
      display: flex; }
      .card__details--review-comments i {
        font-size: 11px;
        color: #808ba5;
        margin-right: 5px; }
      .card__details--review-comments span {
        font-weight: 500;
        color: #808ba5; }
  .card__details--text {
    text-align: left;
    font-weight: 500;
    color: #19243b;
    margin-bottom: 10px; }
  .card__details--btn {
    margin-top: 10px;
    padding: 5px 10px; }
    .card__details--btn span {
      font-weight: 500;
      color: #ffffff; }
