.card__details{
  width: 100%;
  padding: 10px;
  text-align: left;
  &--review{
    display: flex;
    flex-direction: row;
    justify-content: center;
    &-stars{
      margin-right: auto;
      margin-bottom: 10px;
      svg{
        vertical-align: top !important;
      }
    }
    &-members{
      display: flex;
      i{
        font-size: 11px;
        color: #808ba5;
        margin-right: 5px;
      }
      span{
        font-weight: 500;
        color: #808ba5;
        margin-right: 5px;
      }
    }
    &-comments{
      display: flex;
      i{
        font-size: 11px;
        color: #808ba5;
        margin-right: 5px;
      }
      span{
        font-weight: 500;
        color: #808ba5;
      }
    }
  }
  &--text{
    text-align: left;
    font-weight: 500;
    color: #19243b;
    margin-bottom: 10px;
  }
  &--btn{
    margin-top: 10px;
    padding: 5px 10px;
    span{
      font-weight: 500;
      color: #ffffff;
    }
  }
}