$very-small: 490px;
$small: 576px;
$medium: 768px;
$large: 991px;
$larger: 1200px;
$extra-large: 1365px;

$white: #ffffff;
$white-dark: #f4f8fb;
$black: #19243b;
$grey: #808ba5;
$grey-light: #e7f2fc;
$orange: #ff9314;
$orange-light: #ffc52d;
$orange-main: #ffc837;
$orange-dark: #ff8008;
$blue: #1b75bc;
$blue-light: #00aeef;

$green: #64c47a; 
$dark: #2d3436;
$light-grey:#f9f9f9;
$lighter-grey: #c2c2c2;

