.card__header{
  height: 60%;
  width: 100%;
  position: relative;

  &-img{
    height: 80%;
    width: 100%;
    z-index: -10;
  }

  &--teacher-info{

  }

  &--name{
    position: absolute;
    bottom: 45px;
    right: -5%;

    width: 40%;
    min-width: 100px;
    height: 29px;
    border-radius: 25px;
    background-image: linear-gradient(to bottom, #ffc52d, #ff9314);

    font-weight: 700;
    color: #ffffff;
    text-align: left;
    padding:0px 10px;
    display: flex;
    align-items: center;
  }

  &--photo{
    height: 25px;
    width: 25px;
    border-radius: 50%;

    position: absolute;
    bottom: 62px;
    right: 2%;
  }

  &--title{
    font-weight: 700;
    color: #ffffff;
    background-color: #19243b;
    text-align: left;
    vertical-align: middle;
    padding: 5px 10px;
  }
}
