.fundamental-tutorial {
  width: 100%;
  height: 1100px;
  min-height: 430px;
  background: linear-gradient(to right, #1b75bc, #00aeef);
  position: relative; }
  .fundamental-tutorial .circuit-background {
    display: flex;
    height: 100%;
    width: 100%; }
  .fundamental-tutorial .circuit-background-left {
    height: 100%;
    background-image: url("../../assets/circuit.png");
    background-size: cover;
    background-repeat: no-repeat; }
  .fundamental-tutorial .circuit-background-right {
    height: 100%;
    background-image: url("../../assets/circuit.png");
    background-size: cover;
    background-repeat: no-repeat;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }
  .fundamental-tutorial .container {
    position: absolute;
    top: -60px;
    left: 0px;
    right: 0px; }
  .fundamental-tutorial .content {
    margin: 0px 15px;
    background-color: #f4f8fb;
    padding-top: 130px;
    padding-bottom: 1px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 5px 25px 0 rgba(0, 0, 0, 0.15); }
    .fundamental-tutorial .content .text-big {
      font-weight: 700;
      color: #19243b; }

@media (max-width: 991px) {
  .fundamental-tutorial {
    height: 950px; } }

@media (max-width: 768px) {
  .fundamental-tutorial {
    background: #f4f8fb;
    height: auto;
    padding-bottom: 30px; }
    .fundamental-tutorial .container {
      position: relative;
      padding: 0px;
      top: 0; }
      .fundamental-tutorial .container .content {
        background: none;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        margin: 0;
        padding-top: 40px; }
    .fundamental-tutorial .circuit-background {
      display: none; } }
