.learning-page {
  margin: 107px auto;
  max-width: 1140px;
  height: auto;
  display: flex;
  flex-direction: row; }
  @media (max-width: 1200px) {
    .learning-page {
      margin: 50px auto;
      max-width: 960px;
      flex-direction: column; } }
  @media (max-width: 991px) {
    .learning-page {
      margin: 20px auto;
      max-width: 720px;
      flex-direction: column; } }
  @media (max-width: 768px) {
    .learning-page {
      margin: 10px auto;
      max-width: 540px;
      flex-direction: column; } }
  .learning-page__section-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin-left: 3%;
    margin-right: 10%; }
    @media (max-width: 1365px) {
      .learning-page__section-1 {
        margin-right: 20px; } }
    @media (max-width: 1200px) {
      .learning-page__section-1 {
        margin-right: 0;
        width: 94%; } }
    @media (max-width: 768px) {
      .learning-page__section-1 {
        margin-right: 0;
        width: 95%; } }
    .learning-page__section-1--title {
      display: flex;
      flex-direction: row; }
      .learning-page__section-1--title-1 {
        margin-right: auto; }
        .learning-page__section-1--title-1 span {
          width: 506px;
          height: 86px;
          font-weight: 900;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1.3px;
          color: #19243b; }
          @media (max-width: 490px) {
            .learning-page__section-1--title-1 span {
              letter-spacing: initial; } }
        .learning-page__section-1--title-1-details {
          margin-top: 1%;
          width: 379px;
          height: 19px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          color: #808ba5; }
      .learning-page__section-1--title-btn {
        margin-right: 20px; }
        .learning-page__section-1--title-btn img {
          padding-top: 10px; }
      .learning-page__section-1--title-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        @media (max-width: 490px) {
          .learning-page__section-1--title-2 {
            display: none; } }
    .learning-page__section-1-path {
      margin-top: 3%;
      margin-bottom: 3%;
      width: auto;
      height: 1px;
      background-color: #e7f2fc; }
      @media (max-width: 991px) {
        .learning-page__section-1-path {
          margin-top: 2%;
          margin-bottom: 2%; } }
    .learning-page__section-1-wwd {
      display: flex;
      flex-direction: column;
      align-content: space-between; }
      .learning-page__section-1-wwd-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 4%; }
        .learning-page__section-1-wwd-details-points {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          letter-spacing: normal; }
          .learning-page__section-1-wwd-details-points-1 {
            display: flex;
            flex-direction: column;
            align-content: space-between;
            margin-right: 50px; }
            @media (max-width: 768px) {
              .learning-page__section-1-wwd-details-points-1 {
                margin-right: 12px; } }
            @media (max-width: 576px) {
              .learning-page__section-1-wwd-details-points-1 {
                margin-bottom: 5px; } }
          .learning-page__section-1-wwd-details-points-2 {
            display: flex;
            flex-direction: column;
            align-content: space-between; }
          .learning-page__section-1-wwd-details-points-el {
            margin-bottom: 15px; }
            @media (max-width: 576px) {
              .learning-page__section-1-wwd-details-points-el {
                margin-bottom: 0px; } }
            .learning-page__section-1-wwd-details-points-el i {
              width: 20px;
              height: 20px;
              font-family: simple-line-icons;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #808ba5; }
            .learning-page__section-1-wwd-details-points-el span {
              margin-left: 10px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              color: #808ba5; }
              @media (max-width: 576px) {
                .learning-page__section-1-wwd-details-points-el span {
                  margin-left: 3px; } }
      .learning-page__section-1-wwd-time {
        padding: 20px 15px;
        margin-bottom: 30px;
        object-fit: contain;
        background-color: #f4f8fb;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .learning-page__section-1-wwd-time-nxt {
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          color: #808ba5; }
          .learning-page__section-1-wwd-time-nxt span {
            font-weight: 900; }
        .learning-page__section-1-wwd-time-details {
          outline: none;
          border: 2px solid #979797;
          padding: 5px 10px;
          text-align: center;
          vertical-align: middle;
          background-color: transparent;
          cursor: pointer; }
          .learning-page__section-1-wwd-time-details span {
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.6px;
            color: #808ba5; }
      .learning-page__section-1-wwd-overview {
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        @media (max-width: 490px) {
          .learning-page__section-1-wwd-overview {
            flex-direction: column;
            justify-content: initial; } }
        .learning-page__section-1-wwd-overview h3 {
          width: 350px; }
          @media (max-width: 576px) {
            .learning-page__section-1-wwd-overview h3 {
              margin-right: 3px; } }
        .learning-page__section-1-wwd-overview-side {
          display: flex;
          flex-direction: column; }
        .learning-page__section-1-wwd-overview-pg {
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          color: #808ba5; }
        .learning-page__section-1-wwd-overview-benefits {
          object-fit: contain;
          background-color: #f4f8fb;
          padding: 5px 0; }
          .learning-page__section-1-wwd-overview-benefits span {
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.6px;
            color: #808ba5; }
      .learning-page__section-1-wwd-partners {
        text-align: center; }
        .learning-page__section-1-wwd-partners h3 {
          margin-top: 50px;
          margin-right: auto;
          margin-left: auto; }
        .learning-page__section-1-wwd-partners .path {
          margin: 10px auto;
          width: 24px;
          height: 1px;
          background-color: #19243b; }
        @media (max-width: 490px) {
          .learning-page__section-1-wwd-partners img {
            width: 60%; } }
    .learning-page__section-1-taught-by {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .learning-page__section-1-taught-by h3 {
        width: 250px;
        margin-right: 20px; }
        @media (max-width: 490px) {
          .learning-page__section-1-taught-by h3 {
            margin-right: 0; } }
      .learning-page__section-1-taught-by-dd {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.6px;
        color: #808ba5; }
    .learning-page__section-1-location {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .learning-page__section-1-location h3 {
        width: 170px;
        margin-right: 20px; }
      .learning-page__section-1-location img {
        width: 470px;
        height: 107px;
        margin-right: 10%; }
        @media (max-width: 1200px) {
          .learning-page__section-1-location img {
            margin-right: 22%; } }
        @media (max-width: 991px) {
          .learning-page__section-1-location img {
            margin-right: 4%; } }
        @media (max-width: 768px) {
          .learning-page__section-1-location img {
            margin-right: 1%; } }
        @media (max-width: 576px) {
          .learning-page__section-1-location img {
            width: 70%; } }
    .learning-page__section-1-levels {
      display: flex;
      flex-direction: row; }
      .learning-page__section-1-levels-headings {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 40px;
        margin-bottom: 7px; }
        @media (max-width: 490px) {
          .learning-page__section-1-levels-headings {
            margin-right: 20px; } }
        .learning-page__section-1-levels-headings :first-child {
          margin-bottom: 20px; }
      .learning-page__section-1-levels-pg {
        display: flex;
        flex-direction: column; }
        @media (max-width: 1200px) {
          .learning-page__section-1-levels-pg {
            margin-left: 5%; } }
        @media (max-width: 991px) {
          .learning-page__section-1-levels-pg {
            margin-left: 2%; } }
        @media (max-width: 768px) {
          .learning-page__section-1-levels-pg {
            margin-left: -2%; } }
        @media (max-width: 576px) {
          .learning-page__section-1-levels-pg {
            margin-left: 0; } }
        .learning-page__section-1-levels-pg div {
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          color: #808ba5; }
          .learning-page__section-1-levels-pg div:first-of-type {
            margin-top: -2px;
            margin-bottom: 15px; }
          .learning-page__section-1-levels-pg div:last-of-type {
            margin-top: 2px; }
    .learning-page__section-1-ltinerary {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .learning-page__section-1-ltinerary h3 {
        margin-bottom: 20px; }
      .learning-page__section-1-ltinerary-route {
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        .learning-page__section-1-ltinerary-route-shape {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-right: 50px; }
          @media (max-width: 576px) {
            .learning-page__section-1-ltinerary-route-shape {
              margin-right: 20px; } }
        .learning-page__section-1-ltinerary-route-date .lower-part {
          display: flex;
          margin-top: 50px; }
          .learning-page__section-1-ltinerary-route-date .lower-part img {
            width: 164px;
            height: 110px; }
        @media (max-width: 490px) {
          .learning-page__section-1-ltinerary-route-date {
            margin-right: 5px; } }
        .learning-page__section-1-ltinerary-route-date div {
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          color: #808ba5; }
        .learning-page__section-1-ltinerary-route-time {
          margin-top: auto;
          margin-bottom: auto;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          color: #808ba5;
          margin-left: 65px; }
          .learning-page__section-1-ltinerary-route-time a {
            color: #ff8008;
            letter-spacing: 0.57px;
            font-weight: 600; }
          @media (max-width: 576px) {
            .learning-page__section-1-ltinerary-route-time {
              margin-left: 25px; } }
    .learning-page__section-1-review {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .learning-page__section-1-review-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px; }
        .learning-page__section-1-review-1 h3 {
          margin-right: 10px;
          margin-bottom: 0px; }
        .learning-page__section-1-review-1 div {
          margin-right: auto; }
          .learning-page__section-1-review-1 div svg {
            padding-bottom: 2px; }
      .learning-page__section-1-review-2 {
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.6px;
        color: #808ba5; }
  .learning-page__section-2 {
    display: flex;
    flex-direction: column; }
    @media (max-width: 1200px) {
      .learning-page__section-2 {
        display: none;
        height: 1px; } }
    .learning-page__section-2--img {
      width: 214px;
      height: 496px;
      margin-left: 15%; }
    .learning-page__section-2-more {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .learning-page__section-2-more-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 200px;
        margin-right: 30px; }
        .learning-page__section-2-more-1 div {
          margin-bottom: 5px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.8px;
          color: #808ba5; }
    .learning-page__section-2-subscribe {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .learning-page__section-2-subscribe-text {
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.6px;
        color: #808ba5;
        margin-bottom: 10px; }
      .learning-page__section-2-subscribe-email {
        border-radius: 5px;
        background-color: #f4f8fb;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px; }
        .learning-page__section-2-subscribe-email-icon {
          margin-right: 10px;
          display: flex;
          vertical-align: middle;
          margin-top: 1.5%; }
          .learning-page__section-2-subscribe-email-icon i {
            width: 25px;
            font-family: material;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #808ba5; }
        .learning-page__section-2-subscribe-email input {
          outline: none;
          border: none;
          margin-right: 10px;
          background-color: transparent;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.8px;
          color: #808ba5; }
  .learning-page .normal-button {
    height: fit-content;
    text-align: center;
    padding: 5px 17px;
    min-width: 0px;
    margin: 0px; }
  .learning-page .normal-button.text-small {
    font-weight: 700;
    color: #ffffff; }
  .learning-page .normal-button.text-medium {
    font-weight: 700;
    color: #ffffff;
    background-image: linear-gradient(249deg, #00aeef, #1b75bc); }

.heading-tertiary {
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #19243b; }

.footer {
  width: 100%;
  background-color: #19243b; }
  @media (max-width: 1200px) {
    .footer {
      display: none; } }
  .footer-div {
    margin: 50px auto;
    padding: 50px;
    padding-bottom: 80px;
    max-width: 1180px;
    margin-bottom: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .footer-div-start {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .footer-div-start h1 {
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 2.3px;
        color: #ffffff; }
      .footer-div-start h2 {
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #808ba5;
        flex: 2 0 0;
        margin-bottom: 70px; }
      .footer-div-start-link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: -webkit-fill-available; }
        .footer-div-start-link-logo-item {
          color: #ffffff;
          display: flex;
          align-items: center; }
          .footer-div-start-link-logo-item img {
            width: 28px;
            height: 28px;
            margin-right: 10px; }
        .footer-div-start-link-logo-item:hover {
          color: #808ba5;
          text-decoration: none; }
        .footer-div-start-link-menu-1 {
          display: flex;
          flex-direction: column;
          justify-content: space-around; }
          .footer-div-start-link-menu-1 a {
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.6px;
            color: #ffffff;
            margin-bottom: 10px;
            cursor: pointer; }
          .footer-div-start-link-menu-1 a:hover {
            color: #808ba5;
            text-decoration: none; }
        .footer-div-start-link-menu-2 {
          display: flex;
          flex-direction: column; }
          .footer-div-start-link-menu-2 a {
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.6px;
            color: #ffffff;
            margin-bottom: 10px;
            cursor: pointer; }
          .footer-div-start-link-menu-2 a:hover {
            color: #808ba5;
            text-decoration: none; }
    .footer-div-links {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .footer-div-links-btn {
        border-radius: 46.5px;
        background-color: #ffffff;
        padding: 10px 20px;
        cursor: pointer;
        color: #19243b; }
        .footer-div-links-btn span {
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1.4px; }
      .footer-div-links-btn:hover {
        opacity: 0.5; }
    .footer-div-social {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .footer-div-social-text {
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.4px;
        color: #ffffff; }
      .footer-div-social-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }

.social-icon {
  width: 56px;
  height: 56px;
  object-fit: contain;
  border-radius: 50%;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .social-icon .social-icons {
    height: 25px; }
  .social-icon-facebook {
    background-image: linear-gradient(135deg, #ffc837, #ff8008); }
    .social-icon-facebook i {
      width: 11px;
      height: 29px;
      font-family: Ionicons;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff; }
  .social-icon-twitter {
    background-image: linear-gradient(225deg, #00aeef, #1b75bc); }
    .social-icon-twitter i {
      width: 26px;
      height: 29px;
      font-family: Ionicons;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff; }
  .social-icon-linkdin {
    background-image: linear-gradient(135deg, #ffc837, #ff8008); }
    .social-icon-linkdin i {
      width: 24px;
      height: 28px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff; }

.margin-bit-to-right {
  margin-right: 3px; }

.for-smaller-screen {
  display: none; }
  @media (max-width: 1200px) {
    .for-smaller-screen {
      display: initial; } }
  .for-smaller-screen .learning-page__section-2-photo {
    text-align: center; }
  .for-smaller-screen .learning-page__section-2-subscribe-email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .for-smaller-screen .learning-page__section-2-subscribe-email input {
      margin-right: auto; }
    .for-smaller-screen .learning-page__section-2-subscribe-email .learning-page__section-2-subscribe-email-icon {
      margin-top: .6%; }

.footer-for-small-screen {
  display: none; }
  @media (max-width: 1200px) {
    .footer-for-small-screen {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #19243b; } }
  .footer-for-small-screen .footer-div-start {
    margin: 2% auto;
    margin-bottom: 4%; }
  .footer-for-small-screen .footer-div-navigation {
    display: flex;
    flex-direction: column;
    margin: 1% 3%; }
  .footer-for-small-screen .footer-div-start-link-logo-item img {
    width: 20px;
    height: 20px;
    object-fit: contain; }
  .footer-for-small-screen .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    cursor: pointer; }
    .footer-for-small-screen .footer-nav .social-icons {
      height: 15px; }
    @media (max-width: 576px) {
      .footer-for-small-screen .footer-nav .social-icons {
        height: 10px; } }
    .footer-for-small-screen .footer-nav a {
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      color: #ffffff; }
    .footer-for-small-screen .footer-nav svg {
      fill: white; }
    .footer-for-small-screen .footer-nav:last-child {
      cursor: initial;
      padding: 5px 0px 10px; }
  .footer-for-small-screen .footer-line {
    width: 107%;
    height: 1px;
    margin-top: 2%;
    margin-left: -4%;
    margin-bottom: 2%;
    background-color: white; }
    @media (max-width: 576px) {
      .footer-for-small-screen .footer-line {
        width: 107%; } }
  @media (max-width: 576px) {
    .footer-for-small-screen .text-biggest {
      font-size: 20px; }
    .footer-for-small-screen .text-big {
      font-size: 10px;
      width: fit-content;
      padding: 5px 10px;
      font-weight: 700; } }

.min-stars svg {
  width: 15px;
  height: 16px; }
